.about-us {
  margin-top: 76px;
}

.about-us__title {
  margin: 0;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.about-us__list {
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.about-us__item {
  margin-top: 86px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}
