.catalog__title {
  padding-top: 77px;
  padding-bottom: 80px;

  font-size: 27px;
  line-height: 30px;

  background-color: #f1f1f1;
}

.catalog__list {
  padding-left: 0;
}

.catalog__item {
  list-style: none;
}