.contacts {
  margin-top: 50px;
  margin-bottom: 40px;

  font-size: 18px;
  line-height: 30px;
}

.contacts__label {
  font-weight: 400;
}

.contacts__value--link {
  border-bottom: 1px solid #62d1ba;
}
