.footer {
  padding-top: 30px;
  padding-bottom: 31px;

  background-color: #f1f1f1;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 80px;
  padding-bottom: 29px;

  list-style: none;

  border-bottom: 1px solid #e5e5e5;
}

.footer__copyright {
  padding-top: 22px;

  text-align: center;
}

.footer__copyright-text {
  padding-right: 30px;
}
