.header-wrapper {
  display: flex;
  flex-direction: column;
}

.header-nav__list {
  margin: 0;
  padding-left: 0;
}

.header-nav__item {
  padding-top: 32px;
  padding-bottom: 30px;

  text-align: center;
  list-style: none;

  box-shadow: 0 1px 0 0 rgba(236, 236, 236, 1) inset, 0 1px 0 0 rgba(236, 236, 236, 1);
}

.header-nav__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.header-nav__svg {
  opacity: 0.2;
}

.header-nav__delivery {
  font-size: 15px;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .header {
    display: flex;
    width: 670px;
    margin: 0 auto;

    box-shadow: 0 1px 0 0 rgba(236, 236, 236, 1) inset, 0 1px 0 0 rgba(236, 236, 236, 1);
  }

  .header-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .header-nav__item {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    box-shadow: none;
  }

  .header-nav__item--search {
    order: -1;
    // margin-left: 243px;
  }

  .header-nav__link--search {
    font-size: 0;
  }

  .header-nav__item--basket {
    order: -1;
  }
}
