.header-nav__list {
  margin: 0;
  padding-left: 0;
}

.header-nav__item {
  padding-top: 32px;
  padding-bottom: 30px;

  text-align: center;
  list-style: none;

  box-shadow: 0 1px 0 0 rgba(236, 236, 236, 1) inset, 0 1px 0 0 rgba(236, 236, 236, 1);
}

.header-nav__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.header-nav__svg {
  opacity: 0.2;
}

.header-nav__delivery {
  font-size: 15px;
  line-height: 24px;
}

.header-nav__wrapper--desktop {
  display: none;
}

.header-nav__delivery {
  display: none;
}

@media (min-width: @tablet-width) {
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-top: 36px;
  }

  .header-nav__list {
    display: flex;
  }

  .header-nav__list--tools {
    margin-left: 0;
  }

  .header-nav__item {
    padding: 0;

    box-shadow: none;
  }

  .header-nav__link--search {
    padding-right: 31px;
    padding-bottom: 34px;
    padding-left: 33px;

    font-size: 0;
  }

  .header-nav__delivery {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .header-nav {
    display: flex;
    margin: 0;
    margin-top: 36px;
  }

  .header-nav__list {
    display: flex;
  }

  .header-nav__list--main {
    order: 1;
  }

  .header-nav__list--tools {
    margin-left: 0;
  }

  .header-nav__item {
    padding: 0;

    box-shadow: none;
  }

  .header-nav__link--search {
    padding-right: 31px;
    padding-bottom: 34px;
    padding-left: 33px;

    font-size: 0;
  }

  .header-nav__new {
    display: block;
  }

  .header-nav__sale {
    display: block;
  }

  .header-nav__delivery {
    display: block;
  }
}
