.main__bg {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -18px;

  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 1px;

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }
}

.main__header {
  align-self: center;
  width: 250px;
  margin-top: 90px;
  margin-bottom: 122px;

  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .main__bg {
    margin-top: 0;

    background-color: #f9f9f9;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 1px;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }

    &::after {
      content: "";

      z-index: 2;

      display: block;
      width: 100%;
      height: 24px;
      margin-top: -10px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat;
      background-size: contain;
    }
  }

  .main__header {
    width: 500px;
    margin-top: 154px;
    margin-bottom: 372px;

    font-size: 43px;
    line-height: 50px;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .main__bg {
    background-color: #f9f9f9;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 1px;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .main__bg::after {
    height: 36px;
    margin-top: -20px;
  }

  .main__header {
    width: 620px;
    margin-top: 152px;
    margin-bottom: 360px;

    font-size: 53px;
    line-height: 57px;
    text-align: center;
  }
}
