.order-form__form {
  display: flex;
}

.order-form__block {
  margin-top: 30px;
}

.order-form__title {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 20px;

  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb;
}

.order-form__title::after {
  content: "";

  position: relative;
  top: 50%;

  width: 100%;
  height: 1px;

  background-color: #63d1bb;
}

.order-form__list {
  padding-left: 0;

  list-style: none;
}

.order-form__item {
  margin-bottom: 25px;
}

.order-form__input {
  font-size: 17px;
  line-height: 18px;

  background-color: #ffffff;
  border: none;
  border-bottom: 2px solid #000000;
}

.order-form__comment {
  width: 100%;
  padding: 0;

  font-size: 17px;
  line-height: 18px;

  border: 2px solid #000000;
}

.order-form__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.order-form__input--user {
  width: 100%;
}

.order-form__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-form__footnote {
  font-size: 14px;
  line-height: 16px;
}

.order-form__button {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 55px;
}

@media (min-width: @tablet-width) {
  .order-form__block {
    position: relative;

    display: flex;
    align-items: flex-start;

    border: none;
  }

  .order-form__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .order-form__list--color {
    width: 500px;
    max-height: 150px;
  }

  .order-form__list--full-name {
    flex-grow: 1;
  }

  .order-form__user-block {
    width: 100%;
  }

  .order-form__input--user[placeholder] {
    font-size: 17px;
    line-height: 18px;
  }

  .order-form__label {
    font-size: 19px;
  }


  .order-form__footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .order-form__footnote {
    order: 1;

    font-size: 17px;
    line-height: 30px;
  }

  .order-form__button {
    width: 230px;
  }
}

@media (min-width: @desktop-width) {
  .order-form__list--color {
    width: 500px;
    max-height: 100px;
  }
}
