.page-form__title {
  padding-top: 77px;
  padding-bottom: 80px;

  font-size: 27px;
  line-height: 30px;
  text-align: center;

  background-color: #f1f1f1;
}

.page-form__description {
  width: auto;
  margin-top: 29px;
  margin-bottom: 33px;

  font-size: 13px;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .page-form__title {
    font-size: 43px;
    line-height: 50px;
  }

  .page-form__description {
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .page-form__title {
    font-size: 53px;
    line-height: 57px;
  }

  .page-form__description {
    width: 672px;
    margin: 0 auto;
  }
}
