.popap-basket {
  border: 1px solid #c7c7c7;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
}

.popap-basket__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popap-basket__title {
  width: 150px;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.popap-basket__text {
  font-size: 15px;
  line-height: 30px;
}

.popap-basket__list {
  display: flex;
  justify-content: space-between;
  width: 260px;
  padding-left: 0;

  list-style: none;
}

.popap-basket__size-button {
  padding: 20px 30px;

  font-size: 17px;
  line-height: 16px;
  font-weight: 700;

  background-color: #ffffff;
  border: 2px solid #ececec;

  cursor: pointer;
}

.popap-basket__button {
  width: 260px;
  margin-top: 31px;
  margin-bottom: 46px;

  font-size: 17px;
  line-height: 16px;
  color: #ffffff;

  background-color: #63d1bb;
  border: none;
}

@media (min-width: @tablet-width) {
  .popap-basket {
    width: 566px;
    margin: 0 auto;
  }

  .popap-basket__wrapper {
    margin: 0 100px;
  }

  .popap-basket__title {
    width: 100%;
    margin-top: 51px;
    margin-bottom: 32px;

    font-size: 30px;
    line-height: 57px;
  }

  .popap-basket__text {
    margin-top: 0;

    font-size: 17px;
  }

  .popap-basket__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .popap-basket__size-button {
    padding: 20px 50px;

    font-size: 17px;
    line-height: 16px;
  }

  .popap-basket__button {
    width: 350px;
  }
}
