.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 30px;

  border: 1px solid #ededed;
}

.product__card-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 28px;
}

.product__title {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.product__description {
  font-size: 13px;
  line-height: 30px;

  border-bottom: 1px solid #ededed;
}

.product__price {
  font-size: 15px;
  line-height: 24px;
}

.product__button {
  padding: 0;
}

.product__image--mobile {
  display: block;
}

.product__image--tablet {
  display: none;
}

.product__image--desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .product {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: auto;
    max-width: 670px;
  }

  .product__card-wrapper {
    justify-content: space-between;
    max-width: 210px;
    margin: 0 auto;
    padding: 0 30px;
  }

  .product__title {
    font-size: 20px;
  }

  .product__description {
    font-size: 15px;
  }

  .product__price {
    font-size: 17px;
  }

  .product__image--mobile {
    display: none;
  }

  .product__image--tablet {
    display: block;
  }

  .product__image--desktop {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .product {
    flex-direction: column;
    max-width: 316px;
  }

  .product__image--mobile {
    display: none;
  }

  .product__image--tablet {
    display: none;
  }

  .product__image--desktop {
    display: block;
  }
}
