.reviews {
  width: auto;
}

.reviews::after {
  content: "";

  z-index: 2;

  display: block;
  width: 100%;
  height: 6px;
  margin-top: 44px;

  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat;
  background-size: contain;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
}

.reviews__title {
  margin-bottom: 26px;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  font-style: normal;
  color: #444444;
  text-transform: none;
}

.reviews__author-name {
  margin: 0;
  margin-top: 26px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.reviews__author-name--login {
  margin-top: 8px;

  font-weight: 400;
}

.reviews__button-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.reviews__nav-button {
  flex-grow: 1;
  padding-top: 12px;
  padding-bottom: 10px;

  background-color: #ffffff;
  border: 1px solid #ececec;

  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__button {
  order: 1;
  margin-top: 38px;
  padding-top: 12px;
  padding-bottom: 16px;

  text-align: center;
}

@media (min-width: @tablet-width) {
  .reviews {
    margin: 0;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px auto;
    background-position: 0 0;
  }

  .reviews::after {
    height: 15px;
    margin: 0 auto;
    margin-top: 118px;
  }

  .reviews__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .reviews__title {
    order: -2;
    margin-top: 76px;

    font-size: 43px;
    line-height: 50px;
  }

  .reviews__user-wrapper {
    display: flex;
    flex-direction: column;
  }

  .reviews__button {
    order: -1;
    margin: 0;
    margin-top: 58px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .reviews__text {
    margin-top: 24px;

    font-size: 17px;
  }

  .reviews__author-name {
    margin-top: 56px;

    font-size: 18px;
  }

  .reviews__author-name--login {
    margin-top: 6px;

    font-weight: 400;
  }

  .reviews__nav-button {
    margin-top: 30px;
    margin-right: 18px;
    margin-left: 6px;

    border: none;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    margin: auto;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px auto;
    background-position: 50px 0;
  }

  .reviews::after {
    max-width: 1050px;
    height: 21px;
    margin-top: 68px;

    transform: scale(1, -1);
  }

  .reviews__wrapper {
    align-items: flex-start;

    margin-left: 174px;
  }

  .reviews__title {
    margin-top: 70px;
    margin-bottom: 24px;

    font-size: 53px;
    line-height: 57px;
  }

  .reviews__text {
    width: 770px;
  }

  .reviews__author-name {
    margin-top: 38px;
  }

  .reviews__author-name--login {
    margin-top: 6px;
  }

  .reviews__button-wrapper {
    margin-bottom: 98px;
  }

  .reviews__button {
    margin-top: 80px;
    padding-left: 36px;
  }

  .reviews__nav-button {
    margin-top: 12px;
    margin-right: 14px;
    margin-left: 10px;
  }
}
