@tablet-width: 772px;
@desktop-width: 1150px;
@mobile-width-only: 771px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

// Шрифты
@import "font-face";

// Общие стили
@import "common";
@import "blocks/header";
@import "blocks/header-nav";
@import "blocks/footer";

// Стили главной страницы
@import "blocks/main";
@import "blocks/main-menu";
@import "blocks/top-product";
@import "blocks/feature";
@import "blocks/reviews";
@import "blocks/contacts";

// Стили страницы каталога
@import "blocks/catalog";
@import "blocks/product";
@import "blocks/video";

// Стили страницы формы
@import "blocks/page-form";
@import "blocks/order-form";

// Попап "Добавить в корзину"
@import "blocks/popup-basket";
